---
const { name, icon, size, isRoot, alpineOnClick } = Astro.props;

let tailwindSize = "h-8";

if (size === "big") {
    tailwindSize = "h-24";
} else if (size === "medium") {
    tailwindSize = "h-16";
}
---

<button
    class="inline-block py-2 px-2 hover:bg-zinc-200 dark:hover:bg-zinc-800 transition-colors rounded text-center cursor-pointer"
    @click={alpineOnClick}
>
    <img
        class={`"inline-block mx-auto ${tailwindSize} px-1 my-1"`}
        src={`/img/${isRoot? "logos" : "tools" }/${icon}.svg`}
        alt={`${name} logo`}
        title={`${name} logo`}
    />
    <br />
    <span class="font-bold">{name}</span>
</button>
