---
let { frontmatter, lang } = Astro.props;
lang = lang ?? "en";
---

<!doctype html>
<html lang={lang ?? "en"}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/global.css" />
        <link rel="stylesheet" href="/blog.css" />
        <title>Blog - Fernando Araoz</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css"
        />
        <script src="//unpkg.com/alpinejs" is:inline defer></script>

        <style>
            html {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <div class="grid grid-cols-[4rem_auto]">
            <div class="h-screen">
                <nav
                    class="fixed top-0 left-0 bg-black text-white rotate-[-90deg] font-display w-[100vh] translate-y-[100vh] px-8 py-2"
                    style="transform-origin: 0% 0%;"
                >
                    <a class="font-semibold inline-block text-2xl hover:underline" href="/">
                        Fernando Araoz
                    </a>
                    <a class="ml-6 inline-block hover:underline" href="/side-projects">Side projects</a>
                    <a class="ml-6 inline-block hover:underline" href="/blog/en">Eng Blog</a>
                    <a class="ml-6 inline-block hover:underline" href="/blog/es">Es Blog</a>
                </nav>
            </div>
            <div id="blog" class="container mx-auto max-w-[1000px]">
                <div class="py-6">
                    {
                        frontmatter?.title && (
                            <h1 class="font-etoile text-center text-4xl py-2">
                                {frontmatter.title}
                            </h1>
                        )
                    }
                    {
                        frontmatter?.pubDate && (
                            <p class="text-center text-sm">
                                Published: {frontmatter.pubDate}
                            </p>
                        )
                    }
                    {
                        frontmatter?.image && (
                            <figure>
                                <img
                                    class="dark:opacity-70 rounded pt-8"
                                    src={frontmatter.image.url}
                                    alt={frontmatter.image.alt}
                                />
                                <figcaption class="text-xs text-center pt-2 pb-8 opacity-75">
                                    {frontmatter.image.caption}
                                </figcaption>
                            </figure>
                        )
                    }
                </div>

                <div class="text-base">
                    <slot />
                </div>

                <div class="min-h-40"></div>
            </div>
        </div>
    </body>
</html>
